<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824491267250-0ar8n5ft634rkfdo3p0qko51smsot1nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824491267250-0ar8n5ft634rkfdo3p0qko51smsot1nj</string>
	<key>API_KEY</key>
	<string>AIzaSyCf7Et47TQAbk0qF30x70UTQzRQXqKvNMw</string>
	<key>GCM_SENDER_ID</key>
	<string>824491267250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Monash-University.Fitcord</string>
	<key>PROJECT_ID</key>
	<string>fit3178-fitcord</string>
	<key>STORAGE_BUCKET</key>
	<string>fit3178-fitcord.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824491267250:ios:13bcd9085c625238</string>
	<key>DATABASE_URL</key>
	<string>https://fit3178-fitcord.firebaseio.com</string>
</dict>
</plist>